<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>My Recipes</title>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.1.2/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript bundle -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.1.2/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-11 ">
                            <h1 class="panel-title">My Recipes!</h1>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-default" href="#" th:href="@{'/recipe/new'}" role="button">New</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td th:text="${recipe.id}">123</td>
                                <td th:text="${recipe.description}">Tasty Goodnees 1</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td th:text="${recipe.id}">12333</td>
                                <td th:text="${recipe.description}">Tasty Goodnees 2</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:each="recipe : ${recipes}">
                                <td th:text="${recipe.id}">334</td>
                                <td th:text="${recipe.description}">Tasty Goodnees 3</td>
                                <td><a href="#" th:href="@{'/recipe/'+${recipe.id}+'/show'}">View</a></td>
                                <td><a href="#" th:href="@{'/recipe/'+${recipe.id}+'/update'}">Update</a></td>
                                <td><a href="#" th:href="@{'/recipe/'+${recipe.id}+'/delete'}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>